* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #fbad7f9e, #cdccc8, white);
    
}

.content {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slide-pannel {
    display: flex;
    align-items: center;
    width: 25em;
    height: 25em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.prev, .next {
    width: 3em;
    height: 3em;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s;
}

.prev:hover, .next:hover { transform: scale(1.25); }

.prev {
    background-image: url('./images/prev.png');
    /* background-size: ; */
}
.next {
    background-image: url('./images/next.png');
}

img {
    scroll-snap-align: start;
    min-width: 100%;
    border-radius: 0.2em;
}

/* for firefox */
@-moz-document url-prefix() {
    div{overflow: hidden !important;}
}

::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}